.gridHeader{
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mainWidget{
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainWidget-additionalInfo{
}

.info-list{
    display: flex;
    flex-direction: column;
}

.info-list__item{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.infoContainer{
    display: flex;
    justify-content: space-between;
}